@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 65 63% 99%;
    --foreground: 65 55% 2%;
    --muted: 65 7% 94%;
    --muted-foreground: 65 6% 39%;
    --popover: 65 63% 99%;
    --popover-foreground: 65 55% 2%;
    --card: 65 63% 99%;
    --card-foreground: 65 55% 2%;
    --border: 65 5% 93%;
    --input: 65 5% 93%;
    --primary: 65 20% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 65 9% 83%;
    --secondary-foreground: 65 9% 23%;
    --accent: 65 9% 83%;
    --accent-foreground: 65 9% 23%;
    --destructive: 0 86% 35%;
    --destructive-foreground: 0 86% 95%;
    --ring: 65 20% 33%;
    --chart-1: 65 20% 33%;
    --chart-2: 65 9% 83%;
    --chart-3: 65 9% 83%;
    --chart-4: 65 9% 86%;
    --chart-5: 65 23% 33%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 65 31% 2%;
    --foreground: 65 11% 97%;
    --muted: 65 7% 6%;
    --muted-foreground: 65 6% 61%;
    --popover: 65 31% 2%;
    --popover-foreground: 65 11% 97%;
    --card: 65 31% 2%;
    --card-foreground: 65 11% 97%;
    --border: 65 5% 14%;
    --input: 65 5% 14%;
    --primary: 65 20% 33%;
    --primary-foreground: 0 0% 100%;
    --secondary: 65 8% 11%;
    --secondary-foreground: 65 8% 71%;
    --accent: 65 8% 11%;
    --accent-foreground: 65 8% 71%;
    --destructive: 0 86% 56%;
    --destructive-foreground: 0 0% 100%;
    --ring: 65 20% 33%;
    --chart-1: 65 20% 33%;
    --chart-2: 65 8% 11%;
    --chart-3: 65 8% 11%;
    --chart-4: 65 8% 14%;
    --chart-5: 65 23% 33%;
  }
}
